---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Dawood Kamar">
  <div class="prose dark:prose-invert">
    <h1>Dawood Kamar</h1>
    <p>Site under construction.</p>
  </div>
</BaseLayout>
